Consumidos/Consumidos/Connected Services/WebServer/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculadora">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valor1" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="valor2" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="operador" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculadoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculadoraResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fatorial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fatorialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fatorialResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="imc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="altura" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="imcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imcResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="conversor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valorMetros" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoMedida" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="conversorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conversorResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="calculadoraSoapIn">
    <wsdl:part name="parameters" element="tns:calculadora" />
  </wsdl:message>
  <wsdl:message name="calculadoraSoapOut">
    <wsdl:part name="parameters" element="tns:calculadoraResponse" />
  </wsdl:message>
  <wsdl:message name="fatorialSoapIn">
    <wsdl:part name="parameters" element="tns:fatorial" />
  </wsdl:message>
  <wsdl:message name="fatorialSoapOut">
    <wsdl:part name="parameters" element="tns:fatorialResponse" />
  </wsdl:message>
  <wsdl:message name="imcSoapIn">
    <wsdl:part name="parameters" element="tns:imc" />
  </wsdl:message>
  <wsdl:message name="imcSoapOut">
    <wsdl:part name="parameters" element="tns:imcResponse" />
  </wsdl:message>
  <wsdl:message name="conversorSoapIn">
    <wsdl:part name="parameters" element="tns:conversor" />
  </wsdl:message>
  <wsdl:message name="conversorSoapOut">
    <wsdl:part name="parameters" element="tns:conversorResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculadora">
      <wsdl:input message="tns:calculadoraSoapIn" />
      <wsdl:output message="tns:calculadoraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fatorial">
      <wsdl:input message="tns:fatorialSoapIn" />
      <wsdl:output message="tns:fatorialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="imc">
      <wsdl:input message="tns:imcSoapIn" />
      <wsdl:output message="tns:imcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="conversor">
      <wsdl:input message="tns:conversorSoapIn" />
      <wsdl:output message="tns:conversorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculadora">
      <soap:operation soapAction="http://tempuri.org/calculadora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fatorial">
      <soap:operation soapAction="http://tempuri.org/fatorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="imc">
      <soap:operation soapAction="http://tempuri.org/imc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conversor">
      <soap:operation soapAction="http://tempuri.org/conversor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculadora">
      <soap12:operation soapAction="http://tempuri.org/calculadora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fatorial">
      <soap12:operation soapAction="http://tempuri.org/fatorial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="imc">
      <soap12:operation soapAction="http://tempuri.org/imc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conversor">
      <soap12:operation soapAction="http://tempuri.org/conversor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44343/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44343/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>